@tailwind base;
@tailwind components;
@tailwind utilities;

.hamburger-toggle {
    @apply [&>div]:bg-transparent [&>div]:transition-transform duration-300 ease-in-out [&>div]:before:translate-y-0 [&>div]:before:rotate-45 [&>div]:after:translate-y-0 [&>div]:after:-rotate-45;
}

/*.li-style {
    @apply text-base dark:text-neutral-200 anim hover:scale-110 motion-reduce:hover:scale-100 hover:text-basic-dark dark:hover:text-basic-light lg:text-lg;
}*/

/*Primary Button*/
.button-fill {
    @apply relative overflow-hidden rounded-md text-center inline-flex items-center me-2 lg:text-lg font-semibold text-black bg-gradient-to-r from-emerald-300 to-main-light dark:from-emerald-300 dark:to-main-dark px-4 py-2 duration-300;
}

.button-fill:hover {
    @apply -translate-y-0.5 shadow-md shadow-emerald-500/50 bg-gradient-to-br to-emerald-300 from-main-light dark:from-main-dark dark:to-emerald-300;
}

.button-fill::before {
    content: '';
    @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 bg-black opacity-10 rounded-full scale-0 transition-transform duration-500 ease-out;
    height: 150px;
    width: 150px;
    z-index: -1;
}
.button-fill:hover::before {
    @apply transform scale-150;
}


/*Secondary Button*/
.button-outline {
    @apply relative overflow-hidden  overflow-hidden rounded-md text-center inline-flex items-center me-2 lg:text-lg font-semibold !text-emerald-400 bg-transparent border-2 border-main-light dark:border-main-dark px-4 py-2 duration-300;
}

.button-outline:hover {
    @apply !text-emerald-500 -translate-y-0.5 shadow-md shadow-emerald-500/50;
    /* Note: Removed background gradient here since it's handled by the pseudo-element */
}

.button-outline::before {
    content: '';
    @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 bg-emerald-500 opacity-15 dark:bg-emerald-300 rounded-full scale-0 transition-transform duration-500 ease-out;
    height: 150px;
    width: 150px;
    z-index: -1;
}
.button-outline:hover::before {
    @apply transform scale-150;
}

/*List items*/
.nav {
    @apply relative ml-5 lg:ml-10 text-neutral-700 dark:text-neutral-300 font-semibold tracking-wide hover:text-black dark:hover:text-white 
}

.nav::after {
    @apply content-[''] bg-main-light dark:bg-main-dark h-[3px] w-[0%] left-0 -bottom-[5px] rounded-full absolute duration-300 
}

.nav:hover::after {
    @apply w-[100%]
}

.dropdown-item {
    @apply block px-4 py-2 text-sm text-neutral-700 dark:text-neutral-300;
}

.dropdown-item:hover{
    @apply bg-neutral-100 dark:bg-neutral-800;
}
